// Microsoft Visual C++ generated resource script.
//
aaaaaaaa ICON ".\\register\\register.ico"

// this icon is used with wxFrame::SetIcon()
gimu ICON ".\\register\\register.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    ".\\register\\register.ico"
/////////////////////////////////////////////////////////////////////////////


